*pycache/
*pycache__/
**.egg-info
*.pyc
*.ipynb_checkpoints/

.vscode/

*/wandb/*

wandb/*

notebooks/*/*.toml
notebooks/*/*.pkl

.env
data/*/*.zip
data/*/*.csv
data/*/*.tsf
data/*/*.pt
data/*/*.txt
media/*